/* Filename: bundle.css  
 * Timestamp: 2016.02.08-15:46:47 (last modified)
 * Author(s): bumblehead <chris@bumblehead.com>  
 */

.cycvideo {
    position:relative;
    display:inline-block;
    font-size:0;
}
.cycvideo_ctrls {
    position:absolute;
    bottom:0;right:0;left:0;
    height: 50px;
    background-color:rgba(255,0,0,0.3);
}
.cycvideo_bttngroup {
    display:inline-block;
    width:40px;
    height:50px;
}
.cycvideo_bttngroup .cycvideo_bttnplay,
.cycvideo_bttngroup .cycvideo_bttnpause,
.cycvideo_bttngroup .cycvideo_bttnload {
    display:none;
}
.cycvideo_bttngroup-play  .cycvideo_bttnpause,
.cycvideo_bttngroup-pause .cycvideo_bttnplay,
.cycvideo_bttngroup-load  .cycvideo_bttnload {
    display:inline-block;
}

.cycvideo_labelindicator {
    color:#fff;
    font-size:14px;
    display:inline-block;
}
.cycvideo_labelindicator_seektime,
.cycvideo_labelindicator_fulltime {
    display:inline-block;
}
.cycvideo_labelindicator_seektime {
    margin:0 4px;
    content : "/";
    display:inline-block;
}


.cycvideo_dropfillmode,
.cycvideo_dropvrmode {
    font-size:14px;
}


/*
.cycvideo_labelindicator_seektime,
.cycvideo_labelindicator_fulltime {
    position:absolute;
    width:100%;
    top:0;left:0;right:0;
    margin:2px;
    height:15px;
    border:0;
}
*/

.cycvideo_slideseek {
    /*
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    top: calc(50% - 90px);
    color:#fff;
    background-color: rgba(0,0,0,0.5);*/
    position:relative;
    width: calc(100% - 280px);
    min-height:20px;
    display:inline-block;
}


.cycvideo_slideseek_progress,
.cycvideo_slideseek_input {
    position:absolute;
    width:100%;
    top:0;left:0;right:0;
    margin:2px;
    height:15px;
    border:0;
}

/*  
 * progress bar styles,
 * http://www.hongkiat.com/blog/html5-progress-bar/ 
 */
.cycvideo_slideseek_progress {
/*.fsgo-video-layer-control-slider-label-buffer {*/
    background-color: #f3f3f3;
    border: 0;
    width: 100%;
    border-radius: 9px;
    padding:0;
}
.cycvideo_slideseek_progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 9px;
}
.cycvideo_slideseek_progress::-webkit-progress-value {
    background: #cdeb8e;
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 9px;
}
.cycvideo_slideseek_progress::-moz-progress-bar {
    background: #cdeb8e;
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 9px;
}






/* BTTNPLAY
 */
.cycvideo_bttnplay {
    z-index:1;
    position:relative;
    display:inline-block;
}
/*
.fsgo-video-layer.st-isplay-true cycvideo_bttnplay {
    display:none;
}
.fsgo-video-layer.st-isplay-loading cycvideo_bttnplay {    
    display:none;
}
*/
.cycvideo_bttnplay {
    display:inline-block;
    vertical-align:middle;
}
.cycvideo_bttnplay {
    height: 60px;
    width:36px;
}

.cycvideo_bttnplay {
    display:inline-block;
}

.cycvideo_bttnplay-button {
    display:none;
}
.cycvideo_bttnplay-primary {
    display: block;
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    /*border-left: 12px solid #fff;*/
    border-left: 12px solid red;
    margin: 20px auto 10px auto;    
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    left:2px;
}
.cycvideo_bttnplay-primary::before {
    content: '';
    position: absolute;
    top:-15px;
    left:-23px;
    bottom:-15px;
    right:-7px;
    border-radius: 50%;
    /*border: 1px solid #fff;*/
    border: 1px solid red;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.cycvideo_bttnplay-primary::after {
    content: '';
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
}
.cycvideo_bttnplay-primary:hover:before,
.cycvideo_bttnplay-primary:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}





/* BTTNPAUSE
 */

.cycvideo_bttnpause {
    z-index:1;
    position:relative;
    display:inline-block;
}
/*
.fsgo-video-layer.st-isplay-pauseinitial .cycvideo_bttnpause {
    display:none;
}
.fsgo-video-layer.st-isplay-loading .cycvideo_bttnpause {
    display:none;
}
*/
.cycvideo_bttnpause {
    display:inline-block;
    vertical-align:middle;
}
.cycvideo_bttnpause {
    height: 60px;
    width:36px;
}
.cycvideo_bttnpause {
    display:inline-block;
}
.cycvideo_bttnpause-button {
    display:none;
}
.cycvideo_bttnpause-primary {
    display: block;
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    /*border-left: 12px solid #fff;*/
    border-left: 12px solid red;    
    margin: 20px auto 10px auto;    
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    left:2px;
}
.cycvideo_bttnpause-primary::before {
    content: '';
    position: absolute;
    top:-15px;left:-23px;bottom:-15px;right:-7px;
    border-radius: 50%;
    /*border: 1px solid #fff;*/
    border: 1px solid red;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.cycvideo_bttnpause-primary::after {
    content: '';
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
}
.cycvideo_bttnpause-primary:hover:before,
.cycvideo_bttnpause-primary:focus:before {    
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.cycvideo_bttnpause-primary {
  border-color: transparent;
}
.cycvideo_bttnpause-primary:after {
  content: '';
  opacity: 1;
  width: 10px;
  height: 16px;
  /*background: #fff;  */
  background: red;
  position: absolute;
  right:1px;
  top:-8px;
  /*border-left: 4px solid #fff;*/
  border-left: 4px solid red;
  box-shadow: inset 6px 0 0 0 transparent;  
}


/* BTTNLOAD
 */
@-webkit-keyframes spCircRot {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
.cycvideo_bttnload {
    z-index:1;
    position:relative;
    display:inline-block;
}
.cycvideo_bttnload {
    /*display:none;*/
}
/*
.fsgo-video-layer.st-isplay-pauseinitial .cycvideo_bttnload {
    display:none;
}
.fsgo-video-layer.st-isplay-true .cycvideo_bttnload {
    display:none;
}
*/
/*.fsgo-video-layer.st-isplay-loading .cycvideo_bttnload-primary {*/
.cycvideo_bttnload-primary {
    display:inline-block;
    /*width:16px;
    height:16px;
   */

    width:28px;
    height:28px;

    margin:16px 0;
    
    /*border: 4px rgba(0, 0, 0, 0.25) solid;*/
    border: 1px rgba(255, 0, 0, 1) solid;    
    /*border-top: 4px #fff solid;*/
    border-top: 4px red solid;
    border-radius: 50%;
    -webkit-animation: spCircRot .6s infinite linear;
    animation: spCircRot .6s infinite linear;
}

.cycvideo_bttnload {
    display:inline-block;
    vertical-align:middle;
}
.cycvideo_bttnload {
    height: 60px;
    width:36px;
}


/* VIDEO
 */
.cycvideo_video {
    background-color:red;
}
