/* Filename: cycvideo_bttntheater.less  
 * Timestamp: 2016.02.10-11:19:02 (last modified)
 * Author(s): bumblehead <chris@bumblehead.com>  
 */

.cycvideo_bttntheater {
    width:26px;
    height:16px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
}
.cycvideo_bttntheater_tl,
.cycvideo_bttntheater_tr,
.cycvideo_bttntheater_br,
.cycvideo_bttntheater_bl {
    width:10px;
    height:6px;
    border-color:#e8f8f9;
    border-style:solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.cycvideo_bttntheater_tl,
.cycvideo_bttntheater_tr,
.cycvideo_bttntheater_br,
.cycvideo_bttntheater_bl {
    position:absolute;
}
.cycvideo_bttntheater_tr {
  top:1px;
  right:1px;
  border-width:3px 3px 0px 0px;
}
.cycvideo_bttntheater_tl {
  top:1px;
  left:1px;
  border-width:3px 0px 0px 3px;
}
.cycvideo_bttntheater_br {
  bottom:1px;
  right:1px;
  border-width:0px 3px 3px 0px;
}
.cycvideo_bttntheater_bl {
  bottom:1px;
  left:1px;
  border-width:0px 0px 3px 3px;
}
.cycvideo_bttntheater:hover .cycvideo_bttntheater_tr {
    top:0;right:0;        
}
.cycvideo_bttntheater:hover .cycvideo_bttntheater_tl {
    top:0;left:0;    
}
.cycvideo_bttntheater:hover .cycvideo_bttntheater_br {
    bottom:0;right:0;
}
.cycvideo_bttntheater:hover .cycvideo_bttntheater_bl {
    bottom:0;left:0;
}